<%- include('../partials/header') %>
<wrapper>
    <div><%= quote.companyName %></div>
    <div>Latest Price</div>
    <div><%= quote.latestPrice %></div>
</wrapper>

<div>Cash Balance</div>
<div><%= portfolio.cash %></div>

<form action="/portfolios/<%= portfolio._id %>/securities" method="POST">
    <input hidden type="string" name="asset" value="<%=quote.companyName%>">
    <input type="number" name="count" placeholder="# of shares">
    <input hidden type="string" name="purchasePrice" value="<%= quote.latestPrice %>">
    <button type="submit" class="submit-button"> Buy Stock</button>
</form>

<%- include('../partials/footer') %>