<%- include('../partials/header') %>

<% portfolio.forEach(portfolio => { %>
    <div>
        <%= portfolio %> 
    </div>
<% }); %>

  <% if (portfolio.length > 0) { %>
    <table style="width:100%">
            <tr>
              <th>Portfolio Name</th>
              <th>Market Value</th>
            </tr>
            <tr><% portfolio.forEach(function(portfolio) { %>
                <td><%= portfolio.name %></td>
                <td><%= portfolio.marketValue %></td>
                <td>
                  <% if (portfolio.user.equals(user._id)) { %> 
                  <form action="/portfolios/<%=portfolio._id%>?_method=DELETE" method="POST">
                    <button class="red-button" type="submit">X</button>
                  </form>

                  <form action="/portfolios/<%=portfolio._id%>?_method=PUT" method="POST">
                    <input placeholder="Edit Name" name="name" type="text">
                    <button class="red-button" type="submit">Submit</button>
                  </form>
                  <%}%>
              </td>
            </tr>
            <%})%>
          </table>
    <% } else {%>
      <h2>You don't have a portfolio yet!</h2>
      <br>
      <h3>That's OK, we'll help you make one.</h3> 
      
        <a class="nav-item-link" href="portfolios/new">
            <li class="nav-item newPortLink">
                <span class="icon-wrapper">
                    <i class="fas fa-chart-pie"></i>
                </span>
                <span class="nav-item-name">New Portfolio</span>
            </li>
        </a>
      
        <br>
        <h4>Click above!</h4>
    <% let noPortfolio = true %>         
      <% } %>

<%- include('../partials/footer') %>