<%- include('../partials/header') %>

<ul>
    <li><%= portfolio %></li>
</ul>

<% if (portfolio.length > 0) { %>
<wrapper id='portfolio-grid'>
    <div>Cash Available</div>
    <div> <%= portfolio.cash %> </div>
    <div>Security</div>
    <tbody> 
        <tr>
            <% portfolio.security.forEach(security => { %>
            <td><%= security.asset %></td>
            <% }); %>
        </tr>
    </tbody>
</wrapper>
    <% } else {%>

    <% } %>

<%- include('../partials/footer') %>
